@{
    ViewBag.Title = "关于";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
    <ol class="round">
        <li class="one">
            <h5>硬件</h5>
            DS1280温度传感器+树莓派
                
        </li>

        <li class="two">
            <h5>公网服务器</h5>
            免费的物联网平台
        </li>

        <li class="three">
            <h5>服务器</h5>
            C# asp.net mvc4<br/>
            vs2010 sp1<br/>
        </li>
    </ol>