@{
    ViewBag.Title = "作者";
}
<div class="block">
    <h3 class="animated bounceInLeft banner">
		<a href="#" target="_blank" title="@ViewBag.Message" class="ch"><span style="ont-size: 16px;letter-spacing: .06em;   font-family: 'Microsoft YaHei','微软雅黑','黑体','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #fff;
    background-color: #67bdcd;
    padding: 0 24px;
    height: 26px;
    line-height: 26px;
    border-radius: 6px;">@ViewBag.Message</span><i class="line-vt"></i></a><i class="line-unit"></i><i class="circle-banner"></i>
		<span class="tag">@ViewBag.Title</span>
	</h3>
</div>

    <div>秦贤康 2013301500100</div>
    <div>王尧</div>      
    <div>郭晓鹏</div>


